<div class="col-sm-12 col-md-12 col-lg-12 reset-padding pagination">   
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination pull-left">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(1)"><i class="fa fa-fast-backward" aria-hidden="true"></i></a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(pager.currentPage - 1)"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.currentPage + 1)"><i class="fa fa-step-forward" aria-hidden="true"></i></a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.totalPages)"><i class="fa fa-fast-forward" aria-hidden="true"></i></a>
        </li>
      </ul>
  <div>
    <div class="select pull-left">
      <select [(ngModel)]="pageSize" (change)="onPageSizeChanged(pageSize)">
        <option *ngFor="let page of pageSizes;" [value]="page">{{page}}</option>
      </select>
      <span>Items per page</span>
    </div>
  </div>

  <div class="pagelist pull-right">
    Showing {{getStartDataIndex()}}- {{getEndDataIndex()}}
    of {{pager.totalRecords}} records
  </div>
  
  </div>


